# Maven
# Build your Java project and run tests with Apache Maven.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
  - main

pool:
  vmImage: ubuntu-latest
  # Container registry service connection established during pipeline creation
  dockerRegistryServiceConnection: 'acr-connection-sp'
  imageRepository: 'app/integration'
  containerRegistry: 'registroimagenesacr.azurecr.io'
  dockerfilePath: 'Dockerfile'
  tag: '$(Build.BuildId)'
steps:
  - task: Maven@4
    inputs:
      mavenPomFile: 'pom.xml'
      mavenOptions: '-Xmx3072m'
      javaHomeOption: 'JDKVersion'
      jdkVersionOption: '1.17'
      jdkArchitectureOption: 'x64'
      publishJUnitResults: true
      testResultsFiles: '**/surefire-reports/TEST-*.xml'
      goals: 'clean package verify'
  - task: PublishCodeCoverageResults@2
    inputs:
      codeCoverageTool: 'JaCoCo'  # Usamos JaCoCo como herramienta de cobertura
      summaryFileLocation: '$(Build.SourcesDirectory)/target/site/jacoco/jacoco.xml'  # Ubicación del archivo de cobertura
      reportDirectory: '$(Build.SourcesDirectory)/target/site/jacoco'
      failIfCoverageEmpty: true
  - task: CopyFiles@2
    displayName: 'Copy Files to artifact staging directory'
    inputs:
      SourceFolder: '$(System.DefaultWorkingDirectory)'
      Contents: '**/target/*.?(war|jar)'
      TargetFolder: $(Build.ArtifactStagingDirectory)
  - task: PublishBuildArtifacts@1
    inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)'  # Ruta donde se guarda el artefacto
      ArtifactName: 'drop'  # Nombre que tendrá el artefacto
      publishLocation: 'Container'  # Ubicación predeterminada de los artefactos (Azure DevOps Container)
  - task: Docker@2
    displayName: Build and push an image to container registry
    inputs:
      command: buildAndPush
      repository: $(imageRepository)
      dockerfile: $(dockerfilePath)
      containerRegistry: $(dockerRegistryServiceConnection)
      tags: |
       $(tag)